# Virtual environment
venv/

# Rasa bot files to ignore
rasa/models/
rasa/.rasa/
rasa/.rasa_cache/
rasa/__pycache__/
rasa/*.pyc
rasa/*.log

# Django general ignores
*.pyc
__pycache__/
*.db
*.sqlite3

# Environment variables
.env
*.env

# IDE/editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

test_db_connections.py